@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #f18f3c;
  --primary-dark: #d16b27;
  --primary-soft: #fbbf7e;
  --bg-light: #f6f6f6;
  --bg-white: #ffffff;
  --text-dark: #111111;
  --text-light: #4b5563;
  --border-color: #e5e7eb;
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.08);
  --shadow-md: 0 4px 16px rgba(0, 0, 0, 0.14);
  --btn-dark: #6c757d;
  --btn-edit: #ffcc80;
  --btn-outline-bg: #f8fafc;
  --btn-outline-border: #d1d5db;
  --bg-site: #f5f5f5;
  --text-main: #333333;
}
